.testerefcolors{
    color: #1c1724;
    color: #222222; 
    color: #3B3B3B; 
    color: #515151;
    color: #626262;
    color: #7E7E7E;
    color: #9E9E9E;
    color: #BDBDBD;
    color: #E0E0E0;
    color: #EEEEEE;
    color: #F5F5F5;
    color: #FAFAFA;
    color: #F7F7F7;
    color: #E1E1E1;
    color: #CFCFCF;
}